{% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Libs CSS -->
<link href="{% static 'fonts/feather/feather.css' %}" rel="stylesheet" />
<link
  href="{% static 'libs/dragula/dist/dragula.min.css' %}"
  rel="stylesheet"
/>
<link
  href="{% static 'libs/@mdi/font/css/materialdesignicons.min.css' %}"
  rel="stylesheet"
/>

<link href="{% static 'libs/prismjs/themes/prism.css' %}" rel="stylesheet" />
<link href="{% static 'libs/dropzone/dist/dropzone.css' %}" rel="stylesheet" />

<link
  href="{% static 'libs/magnific-popup/dist/magnific-popup.css' %}"
  rel="stylesheet"
/>
<!-- <link
  href="{% static 'libs/bootstrap/dist/css/bootstrap.min.css' %}"
  rel="stylesheet"
/> -->
<link href="{% static 'libs/bootstrap-select/dist/css/bootstrap-select.min.css' %}" rel="stylesheet" />

<link href="{% static 'css/bootstrap-4.4.1.css' %}" rel="stylesheet" />
<link
  href="{% static 'libs/@yaireo/tagify/dist/tagify.css' %}"
  rel="stylesheet"
/>
<!-- Theme CSS -->
<link href="{% static 'css/theme.min.css' %}" rel="stylesheet" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
