<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Blog{% endblock %}</title>
    {% include 'base/css.html' %} {% block head %} {% endblock %}
  </head>
  <body>
    {% block navbar %} {% endblock %}
    <div class="container">
      {% block messages %}
        {% if messages %} 
          {% for msg in messages %}
            <div class="alert alert-{{msg.level_tag}}" role="alert">
              {{msg.message}}
            </div>
          {% endfor %} 
        {% endif %} 
      {% endblock %} 
      <div class="mt-1 text-center">This is an example simple blog with docker-django-postgres, see the repository in <a href="https://github.com/NestorMonroy/docker-django"
        ><i class="fe fe-github nav-icon"></i> GitHub</a
      ></div>
      {% block content %} 
      {% endblock %}
    </div>
    {% include 'footer.html' %}
    {% include 'base/scripts.html' %}

    {% block javascript %}
    {% endblock %}
  </body>
</html>
