<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Blog{% endblock %}</title>
    {% include 'base/css.html' %} {% block head %} {% endblock %}
  </head>
  <body>
    {% block navbar %} {% endblock %}
    <div class="container">
      {% block messages %}
        {% if messages %} 
          {% for msg in messages %}
            <div class="alert alert-{{msg.level_tag}}" role="alert">
              {{msg.message}}
            </div>
          {% endfor %} 
        {% endif %} 
      {% endblock %} 
      {% block content %} 
      {% endblock %}
    </div>
    {% include 'base/js.html' %}
    {% block javascript %}
    
    {% endblock %}
  </body>
</html>
