{% extends "base.html" %} {% block content %} {% load static %}
<div class="container d-flex flex-column">
  <div
    class="row align-items-center justify-content-center no-gutters min-vh-100"
  >
    <div class="col-lg-5 col-md-8 py-8 py-xl-0">
      <!-- Card -->
      <div class="card shadow">
        <!-- Card body -->
        <div class="card-body p-6">
          <div class="mb-4 text-center">
            <a href="{% url 'posts:all' %}"
              ><img
                src="{% static 'images/red-dimond.svg' %}"
                class="mb-4"
                alt=""
            /></a>
            <h3>Password reset complete</h3>
            <h1><a href="/login">Login</a></h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
