{% extends "base_menu.html" %} {% load humanize %} {% load static %} 
{% block content %}
<div class="card mb-4 mt-4">
  <!-- Card Header -->
  <div class="card-header">
    <h4 class="mb-0">
      {% if form.instance.pk >= 1 %} Edit Post {% else %} Add Post {% endif %}
    </h4>
  </div>
  <!-- Card Body -->
  <div class="card-body">
    <!-- Form -->
    <form method="post" id="upload_post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group mb-4">
        <label for="title" class="form-label">Title</label>
        <input
          class="form-control"
          id="id_title"
          value="{% if form.instance.title %}{{form.instance.title}}{% endif %}"
          name="title"
          placeholder="Title"
          type="text"
          required=""
        />
      </div>
      <div class="form-group mb-4">
        <label for="content" class="form-label">Content </label>
        <textarea
          class="form-control"
          id="id_content"
          name="content"
          placeholder="Content"
          required
          rows="4"
        >{% if form.instance.content %}{{form.instance.content}}{% endif %}</textarea>
      </div>
      <div class="form-group mb-4">
        <label for="id_image" class="form-label"
          >Image
          <small class="text-muted">(Upload your Image <= 2.0MB:)</small>
        </label>
        <div class="custom-file">
          <input
            name="image"
            type="file"
            class="custom-file-input"
            id="id_image"
          />
          <label class="custom-file-label" for="id_image">Choose image</label>
        </div>
      </div>

      <div class="form-group mb-4">
        <label for="id_status" class="form-label">Status</label>
        <select
          name="status"
          id="id_status"
          class="selectpicker"
          data-width="100%"
          required
        >
          <option value="">Select Status</option>
          {% for pk, choice in form.status.field.widget.choices %}
          <option value="{{pk}}"{% if form.status.value == pk %}selected{% endif %}> {{choice}}</option>
          {% endfor %}
        </select>
      </div>
    
      <!-- <div class="form-group mb-4">
        <select name="status" class="selectpicker" data-title="Select Status">
          {% for x,y in form.fields.status.choices %}
             <option value="{{x}}"{% if form.status.value == x %}selected{% endif %}>{{ y }}</option>
          {% endfor %}
          </select>
      </div> -->

      <button type="submit" class="btn btn-success">
        Submit
      </button>
      <button
        type="Cancel"
        class="btn btn-danger"
        onclick="window.location.href='{% url 'posts:all' %}';return false;"
      >
        Cancel
      </button>
    </form>
  </div>
</div>
<!-- https://stackoverflow.com/questions/2472422/django-file-upload-size-limit -->

{% block javascript %}
<script>
  $(document).ready(function(){
    $("#upload_post").submit(function() {
      console.log('Checking file size');
      if (window.File && window.FileReader && window.FileList && window.Blob) {
          var file = $('#id_{{ form.upload_field_name }}')[0].files[0];
          if (file && file.size > {{ form.max_upload_limit }} ) {
              alert("File " + file.name + " of type " + file.type + " must be < {{ form.max_upload_limit_text }}");
          return false;
        }
      }
      alert("jQuery is working perfectly.");
    });
  });
</script>
{% endblock %} {% endblock%}
